<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="toggle == false">Monsters</ion-title>
    <ion-searchbar (ionClear)="unFilter()"	(ionInput)="filterList($event)" *ngIf="toggle == true"></ion-searchbar>
    <ion-buttons slot="end"
      ><ion-button (click)="changeToggle()"><ion-icon name="search"></ion-icon></ion-button
    ></ion-buttons>
    
  </ion-toolbar>
  <ion-segment *ngIf="searching == false" [(ngModel)] ="segment" class="disable-ripple" translucent="false" (ionChange)="segmentChanged($event)">
    <ion-segment-button
      class="full-width-tab segment"
      value="0"
      >Large</ion-segment-button
    >
    <ion-segment-button
      class="full-width-tab"
      value="1"
      >Small</ion-segment-button
    >
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <!--    <ion-tabs>
      <ion-tab-bar color="primary" slot="top" style="height: 6%; border: 0px;">
        <ion-tab-button class="full-width-tab" tab="large">
          <ion-label>LARGE</ion-label>
        </ion-tab-button>
        <ion-tab-button class="full-width-tab" tab="small">
          <ion-label>SMALL</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->

  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides
    *ngIf="searching == false"
    #slides
    pager="false"
    (ionSlideDidChange)="changeSlide(slides)"
    (ionSlidesDidLoad) ="changeSlide(slides)"
  >
    <ion-slide>
      <ion-grid *ngIf="!loading" class="ion-no-padding">
        <ion-row>
          <ion-col size="12" size-sm="6" *ngFor="let monster of largeMonsters">
            <ion-list
              style="width: 100%;"
              class="ion-no-padding background-black"
            >
              <ion-item lines="full" [routerLink]="['/','monsters',monster.id]">
                <ion-thumbnail slot="start">
                  <ion-img
                    class="my-img"
                    [src]="'/assets/images/'+monster.imgUrl +'.png'"
                  ></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ monster.name |titlecase }}</h2>
                  <p>{{ monster.species |titlecase}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid *ngIf="!loading" class="ion-no-padding">
        <ion-row>
          <ion-col size="12" size-sm="6" *ngFor="let monster of smallMonsters">
            <ion-list
              style="width: 100%;"
              class="ion-no-padding background-black"
            >
              <ion-item lines="full" [routerLink]="['/','monsters',monster.id]">
                <ion-thumbnail slot="start">
                  <ion-img
                    class="my-img"
                    [src]="'/assets/images/'+monster.imgUrl +'.png'"
                  ></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ monster.name |titlecase }}</h2>
                  <p>{{ monster.species |titlecase}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-grid *ngIf="!loading || searching" class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-sm="6" *ngFor="let monster of filteredMonsters">
        <ion-list
          style="width: 100%;"
          class="ion-no-padding background-black"
        >
          <ion-item lines="full" [routerLink]="['/','monsters',monster.id]">
            <ion-thumbnail slot="start">
              <ion-img
                class="my-img"
                [src]="'/assets/images/'+monster.imgUrl +'.png'"
              ></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ monster.name |titlecase }}</h2>
              <p>{{ monster.species |titlecase}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
