<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content class="ion-no-padding">
        <ion-list id="inbox-list" class="ion-no-padding">
          <ion-img src="\assets\images\mainmenu.png"></ion-img>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item color="primary" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="active-link">
              <ion-avatar style="--border-radius:0px; margin-right:30px">
                <img [src]="p.icon">
              </ion-avatar>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
