<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Armors</ion-title>
    <ion-buttons slot="end"
      ><ion-button><ion-icon name="search"></ion-icon></ion-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<div style="text-align:center; padding-top: 300px;"><iframe style="text-align:center" width="700" height="400"
  src="https://www.youtube.com/embed/bZSJWz3Z6zs">
  </iframe></div>
      
  
  
</ion-content>
